name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@master
      
      - name: Install vpn open connect
        run: |
          sudo /sbin/modprobe tun
          sudo apt-get install network-manager-openconnect-gnome
      - name: Install sshpass
        run: |
          sudo apt-get install sshpass
      - name: Open VPN
        run: |
          echo $PASS | sudo openconnect rpv.usherbrooke.ca --user=$USER --background --passwd-on-stdin
        env:
          USER: ${{ secrets.USER }}
          PASS: ${{ secrets.PASS }}

      - name: Send files to the server
        run: |
          pwd
          ls -l
          sshpass -p $PASS scp -r -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ../shiny_STM-managed $USER@$SERVER:/home/local/USHERBROOKE/$USER/
        env:
          USER: ${{ secrets.USER }}
          PASS: ${{ secrets.PASS }}
          SERVER: ${{ secrets.SERVER }}

      - name: Deploy
        run: sshpass -p $PASS ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null $USER@$SERVER touch test10.txt
        env:
          USER: ${{ secrets.USER }}
          PASS: ${{ secrets.PASS }}
          SERVER: ${{ secrets.SERVER }}
